/LCM.class
/bostan.class
/chewbaccanum.class
/conversion.class
/countdigit.class
/fahrenheit.class
/fibonacci.class
/inverse.class
/inversenum.class
/inversevalue.class
/isarmstrong.class
/oddeven.class
/printseries.class
/question1.class
/questionprime.class
/replace.class
/shopping.class
/simpleinput.class
/sum_odd_even.class
